<!DOCTYPE html>
<html>
<head>
  <title>Myapp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<% if user_signed_in? %>
                    <span style="float:right; margin-right: 110px;"><%= link_to "Logout", destroy_user_session_path, :method => :delete %></span>

                  <% else %>
                    <%#= link_to('Login', user_session_path, :class=>'grey', :id=>'btn_logout')%>
  <%end%>
  <p class="notice"><%= notice if notice%></p>
  <%if alert%>     
  <p class="alert"><%= alert if alert%></p>
  <%end%>
<div class="container">
<%= yield %>
</div>
</body>
</html>
